[user]
  signingkey = 1FB5A566CDFAA894
	name = Dinh Phu Nguyen
	email = dinhphu28@dinhphu28.com

[includeIf "gitdir:**/github.com/"]
  path = ~/personal/.gitconfig
[includeIf "gitdir:**/git.cads.live/"]
  path = ~/work/.gitconfig

[includeIf "hasconfig:remote.*.url:git@github.com**/**"]
  path = ~/personal/.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/personal/.gitconfig

[includeIf "hasconfig:remote.*.url:git@git.cads.live**/**"]
  path = ~/work/.gitconfig
[includeIf "hasconfig:remote.*.url:https://git.cads.live/**"]
  path = ~/work/.gitconfig

[init]
	defaultBranch = main
;  templateDir = /home/dinhphu28/.git-template
[commit]
	gpgSign = true

[core]
  editor = nvim

[tag]
	forceSignAnnotated = false
[safe]
	directory = /srv/git/sample1

[credential]
	helper = op
